{% extends "base.html" %}

{% block content %}
Hello World!
<br>
<br>
Currently I am employed at:

<ul>
  <li><a class="xterm" href="https://www.astro.unige.ch/"> Department of Astronomy, University of Geneva</a>
    as a researcher, INTEGRAL data center supporter, scientific software developer, and cautious enthusiast of improving
    technological basis of scientific missions.
  </li>
  <li> And at <a class="xterm" href="https://people.epfl.ch/volodymyr.savchenko?lang=en"> EPFL SCITAS</a>, supporting CTA
    Off-Site Data Center.
  </li>
</ul>

I like to explore unusual possibilities of combining <a class="xterm" href="software.html">machine intelligence</a> with uniquely human capacities in <a class="xterm" href="science.html">science</a>

<br>
<br>

See also:
<ul>
  <li><a class="xterm" href="https://orcid.org/0000-0001-6353-0808">ORCID</a></li>
  <li><a class="xterm" href="https://www.linkedin.com/in/volodymyr-savchenko-39078255/">LinkedIn</a></li>
  <li><a class="xterm" href="https://github.com/volodymyrss/">GitHub</a></li>  
  <li><a rel="me" href="https://mastodon.social/@volodymyr">Mastodon</a><li>
</ul>

{% endblock content %}
