{% extends "base.html" %}

{% block content %}
Hello World!
<br>
<br>
Currently I am employed at:

<ul>
  <li><a class="xterm" href="https://www.astro.unige.ch/"> Department of Astronomy, University of Geneva</a>
    as a researcher, INTEGRAL data center supporter, scientific software developer, and cautious enthusiast of improving
    technological basis of scientific missions.
  </li>
  <li><a class="xterm" href="https://www.epfl.ch/research/facilities/scitas/"> And at EPFL SCITAS, supporting CTA
      Off-Site Data Center.</a>
  </li>
</ul>


{% endblock content %}