{% extends "base.html" %}

{% block content %}

<h3></h3>

<font class="mark1">Vanil Noir</font>, is the leftmost peak in the Alps as seen from southern Vaud, the highest peak in Fribourg Alps, name of a <b>CTA cluster at CSCS</b>, and just a remarkable place.

<br>
<br>

At height of over 2000 meters, some acclimatization is needed.

Solid footing is required, the path is quite explosed and equipped with some chains.


There are two intermediate points on the way to the summit which.

Full path on foot from the train station is about 20km, with 1200 meters of elevation gain. This might take 7h.
It's best to arrive by car to XXX and shorten the path to 10km and 800 meters of elevation gain.

Schedule

8h00: Departure from XXX
12h00: Arrival at XXX
15h00: Arrival at XXX
17h00: Arrival at XXX

<br>

    {% endblock content %}

