{% extends "base.html" %}

{% block content %}
<!-- I have obtained PhD in spring 2012 at the University of Geneva,
ISDC. My work was mostly focused on observations and theory of the
<font class="mark1">Gamma-ray bursts</font> - exremely energetic explosions from the very distant universe. The conventional undestanding is that the prompt emission of the GRBs consist of  the synchroton emission of relativistic electrons accelerated in the shocks formed in collisions of the ultrarelativistic shells ejected by the GRB central engine. The theory suffers from different problems, which we attempted to highlight and address.
 -->
<!-- <br><br> -->
I worked on analysis of the <font class="mark1">INTEGRAL</font> data in a broad range of applications.

<!-- <br><br> -->
<!-- On behalf of the <font class="mark1">INTEGRAL/SPI-ACS</font> group and ISDC I provide realtime, nearly realtime and archived <font class="mark1">SPI-ACS</font> lightcurves for the  triangulation and the HEAVENS. -->

<!-- <br><br> -->

<!-- My Masters degree (in Kyiv) was in <font class="mark1">particle physics</font> (QFT) so that I have
basic knowledge of this area.  -->


<!-- <br><br>

I have quite a bit of experience in
<font class="mark1">various programming languages</font> (currently I mostly use C++/ROOT and
python) and <font class="mark1">unix</font>-like systems.
-->
        <br> 
        <br>
Query my <a class="xterm1" href="https://adsabs.harvard.edu/cgi-bin/nph-abs_connect?return_req=no_params&author=Savchenko,%20V.&db_key=PRE">name</a> on the ADS abstract service.

  
{% endblock content %}