{% extends "base.html" %}

{% block content %}

<h3>On Scientific collaborations with Russian institutions</h3>

<font class="mark1">Unfortunately, it is not just the Russian president who started the war</font>, this idea is
based on misunderstanding of the
Russian society. Some responsibility is shared by most Russians, even those who "only" quietly disapprove. <br>
<font class="mark1">Very different degrees of responsibility, of course</font>.

    A minor fraction of responsibility is also shared by those who enabled Russia in the last 8 years, for example
    Germany:
    of course they were hoping for peace and collaboration, and it's regrettable that they were wrong, but they were
    wrong.<br>
    <font class="mark1">It is possible to point this out and assign some fraction of responsibility without equating the
        past "Russia-appeasers"
        to pro-war Russians</font>.

    <br>
    <br>
    I personally reached out and discussed the situation with my Russian collaborators.
    Clearly, most of my Russian colleagues are shocked, ashamed of this war. They did not realize where Putin leads
    them,
    even if they supported him. They were wrong.
    Until this war, I maintained some more personal and very fruitful collaborations, while avoiding to visit Russia or
    engage in institutional projects. Despite the Crimea.
    <br>
    <br>
    Now, I cut all common projects.<br>
    Regrettable, but necessary. <br>
    It may be a surprise to some western colleagues, but most of them react to this suspension of collaboration with
    understanding.
    Decent researchers have plenty of opportunities to move out of Russia, and many already did.
    <br>
    <br>
    <font class="mark1">So, is it so useful to hurt innocent scientists?</font><br>
    At this time, cutting ties with Russian state academia will:

    <ul>
        <li>make a symbolic point, hurt the state prestige, make it clear that "business as usual" is not possible.</li>
        <li>isolate individual decent scientists who are "only" guilty of inaction, and who have an option to move to
            the west</li>
    </ul>
    <br>
    <font class="mark1">At this time, for me, the proportional response is clearly to suspend collaborations with
        Russian state-affiliated
        researchers.</font>
    <br>
    <br>
    I would also respectfully suggest that those colleagues who oppose such a move do not fully realize the gravity of
    the
    situation, and the scale of Russia's intentions. <br>
    In many ways, this crisis is the largest challenge to the liberal world
    order since WWII. Those in a safe place with no direct personal stake may not be sensitive enough to realize this.
    I do not agree that science is above moral values, it represents some the best aspirations of the humanity and can
    not
    be completely neutral.
    <br>
    <br>
    <font class="mark1">Finally, should we also boycott the US or any another state for "similarly" questionable
        actions?</font>
    There has to be some sense of proportionality. Some actions are worse than other.
    I certainly always took into account my values when choosing research positions and collaborations. I think more
    people
    should do that. And maybe those who do not, will consider doing it in the future, proportionally.

    <br>
    <br>
    <br>

    I am considering another form of making a statement in scientific collaboration with Russian
    scientists:<font class="mark1"> adding a sentence condemning the war in acknowledgements, such as:</font><br>

    <p class="quote">
        The authors would like to express their sorrow and regret about what happens in Ukraine. The authors stand
        against the sorrowful and bloody aggression of the Russian Federation against sovereign Ukraine
    </p>

    <details>
        <summary>
            <span class="icon">👉</span>
            <font class="mark1">It's Putins war, scientists are innocent?</font>          
        </summary>
        <p>
                  
        </p>
    </details>


    <details>
        <summary>
            <span class="icon">👉</span>
            <font class="mark1">But individuals should not be judged for the actions of their state?</font>          
        </summary>
        <p>
          
        </p>
    </details>


    <details>
        <summary>
            <span class="icon">👉</span>
            <font class="mark1">Isn't science above this?</font>          
        </summary>
        <p>
          
        </p>
    </details>



    <h3>And more general about war</h3>

        <details>
            <summary>
                <span class="icon">👉</span>
                <font class="mark1">What about genocide commited by russia against ukrains?</font>          
            </summary>
            <p>
                <font class="mark1"></font>                      
            </p>
        </details>



        <details>
            <summary>
                <span class="icon">👉</span>
                <font class="mark1">Was this not all provoked by NATO expansion?</font>          
            </summary>
            <p>
                <font class="mark1"></font>                      
            </p>
        </details>
    

    {% endblock content %}