{% extends "base.html" %}

{% block content %}

<h3>On Scientific collaborations with Russian institutions</h3>


<font class="mark1">Unfortunately, it is not just the Russian president who started the war</font>, this idea is
based on misunderstanding of the Russian society. Some responsibility is shared by most Russians, even those who "only" quietly disapprove. <br>
<font class="mark1">Very different degrees of responsibility, of course</font>.

<details>
    <summary>
        <span class="icon">👉</span>
        <font class="mark1">Read more</font>          
    </summary>
<p>
    <br>
    A minor fraction of responsibility is also shared by those who enabled Russia in the last 8 years, for example
    Germany:
    of course they were hoping for peace and collaboration, and it's regrettable that they were wrong, but they were
    wrong.<br>
    <font class="mark1">It is possible to point this out and assign some fraction of responsibility without equating the
        past "Russia-appeasers" to pro-war Russians</font>.

    <br>
    <br>
    I personally reached out and discussed the situation with my Russian collaborators.
    Clearly, most of my Russian colleagues are shocked, ashamed of this war. They did not realize where Putin leads
    them,
    even if they supported him. They were wrong.
    Until this war, I maintained some more personal and very fruitful collaborations, while avoiding to visit Russia or
    engage in institutional projects. Despite the Crimea.
    <br>
    <br>
    Now, I cut all common projects.<br>
    Regrettable, but necessary. <br>
    It may be a surprise to some western colleagues, but most of them react to this suspension of collaboration with
    understanding.
    Decent researchers have plenty of opportunities to move out of Russia, and many already did.
    <br>
    <br>
    <font class="mark1">So, is it so useful to hurt innocent scientists?</font><br>
    Cutting ties with Russian state academia will:

    <ul>
        <li>make a symbolic point, hurt the state prestige, make it clear that "business as usual" is not possible.</li>
        <li>isolate individual decent scientists who are "only" guilty of inaction, and who have an option to move to
            the west</li>
        <li>hurt my own scientific prospects: but only in a way which is quite modest comparing the backlash of sanctions accepted by the entire population.</li>
    </ul>
    <br>

    <font class="mark1">Weighting the positive and negative effects, at this time, for me, the proportional response is clearly to suspend collaborations with
        Russian state-affiliated
        researchers.</font>
    <br>
    <br>
    I would also respectfully suggest that those colleagues who oppose such a move do not fully realize the gravity of
    the
    situation, and the scale of Russia's intentions. <br>
    In many ways, this crisis is the largest challenge to the liberal world
    order since WWII. Those in a safe place with no direct personal stake may not be sensitive enough to realize this.
    I do not agree that science is above moral values, it represents some the best aspirations of the humanity and can
    not
    be completely neutral.
    <br>
    <br>
    <font class="mark1">Finally, should we also boycott the US or any another state for "similarly" questionable
        actions?</font>
    There has to be some sense of proportionality. Some actions are worse than other.
    I certainly always took into account my values when choosing research positions and collaborations. I think more
    people
    should do that. And maybe those who do not, will consider doing it in the future, proportionally.

    <br>
    <br>
    <br>

    I am considering another form of making a statement in scientific collaboration with Russian
    scientists:<font class="mark1"> adding a sentence condemning the war in acknowledgements, such as:</font><br>

    <p class="quote">
        The authors would like to express their sorrow and regret about what happens in Ukraine. The authors stand
        against the sorrowful and bloody aggression of the Russian Federation against sovereign Ukraine
    </p>
</p>
</details>

<h3>My answers to questions people from the West and the South and the rest commonly ask me</h3>

Few people are completely indifferent to the war in Ukraine. The opinions differ greatly, some well-meaning, some well-informed, some not much of either. <font class="mark1">I think it is important to discuss and exchange opinions, keeping in mind that none of us has absolute knowledge</font>. Below are my answers to some of the questions I have been asked frequently.
<br>

<details>
    <summary>
        <span class="icon">👉</span>
        <font class="mark1">Read more</font>
    </summary>
<p>

    <details>
        <summary>
            <span class="icon">👉</span>
            <font class="mark1">Does anyone really know for sure what is going on?</font>
        </summary>
        <p>
            The kind of background and knowledge each of us has is different, and it is important to respect this. I believe that I have something to bring to the discussion, and I am happy to share my views. Conversely, I value very much the opinions of thoughtful and caring people with different backgrounds, perspectives, views. I also believe that despite the unavoidable impossibility of complete certainty, one should be able to put their opinions out in the open, and sometimes insist on them, in open, fair, respectable fashion. <b>Sharing and learning from each other helps us to learn to live together</b>.
        </p>
    </details>

    <details>
        <summary>
            <span class="icon">👉</span>
            <font class="mark1">But NATO has provoked and threatened Russia by expanding?</font>          
        </summary>
        <p>
            NATO has plenty of borders with Russia, even more since 2022, which is, apparently, only of a moderate concern for Russian government. 
            But possibility of Ukraine joining NATO has posed a much bigger problem. Is this true or just an excuse? And if it is true, why? 
            I propose that while it is largely an excuse, it is also true that <b>Ukraine joining NATO was indeed a big problem for Russia</b>. But the only reason why it is a bigger problem, 
            is because <b>Russia had other plans for Ukraine</b>. 
            <br>
            <br>
            
            It is sometimes forgotten, but in 2014 the protests were not just because of withdrawing form
            EU association. The alternative was no neutrality - but a Eurasian Economic Union, creating much closer ties between Ukraine with Russia.
            Before 2014, every ukrainan government was balancing between europeran and eurasian integration. But as Russia became stronger, it pushed for making a choice, 
            leveraging ukrainian dependency on russian gas. On the other hand, EU support was also becoming more conditional on reforms to address corruption. 
            The ukrainian government of 2014 was not at all interested in dealing with corruption, and went for the "safer" Russian support instead.
            <br>
            <br>
    
            So, what Russia calls "legitimate security concerns" was infact primarily motivated by their desire to expand sphere of influence - through creating new economic ties with Ukraine.
            Arguably, there is nothing wrong in proposing to create new economic ties. But it is wrong to start a war to achieve this goal.
            <br>
            <br>

            <b>Clearly, Ukraine moving away from Russia was unfavorable for Russia - so Russian interests were affected. But, crucially, under international consensus Ukraine had a right to do this out of its 
            own sovereign agency. </b>

            <br>
            <br>

            <b>Ukraine population overwhelmingly stands behind this agency. From my experience, people formely more russian-tied regions (e.g. Kharkiv, Kherson) found themselves in some of the most radical opposition to russian aggression, since they feel especially betrayed by the "big brother".</b>
        </p>
    </details>

    <details>
        <summary>
            <span class="icon">👉</span>
            <font class="mark1">Ukraine was manipulated by US, NATO, EU?</font>          
        </summary>
        <p>
            Clearly, US, NATO, EU, China, African grain importers, and other actors have more or less strong ideas about what they want from Ukraine.
            They have a right to do that. And they clearly can excersise their influence to promote their goals.
            Clearly, there is some limit to this. It is commonly considered that external comments in country internal policy is not ideal. 
            This principle is not followed particularly strictly. Reconsidering trade relations, using economic pressure is another tool which is frequently used and is indeed considered valid.
            Direct military intervention is not considered acceptable except in response to clear and systemic human right violation.
            <br>
            <br>
            <b>Crucially, even with any reasonable external influence, it should be recognized that Ukraine has a fundamental sovereign right to choose its path.</b>
            Any individual, collective, or nation, is subject to influences. But it is essential to establish the individual/collective/nation rights, as the basis for relations.
        </p>
    </details>


    <details>
        <summary>
            <span class="icon">👉</span>
            <font class="mark1">After the "coup" of 2014, ukrainian government can not be legitimate?</font>          
        </summary>
        <p>
            Transition of power in Ukraine in 2014 was clearly problematic. It was triggered most of all by a sequence of mistakes made by the ukrainian president at the time.
            Arguably, this is one of the "failsafe" mechanisms of representative democracy, allowing to correct for major deviations of the representavies from the path for which they were elected.
            <br>
            <b>After 2014, there were several elections in Ukraine, and nobody, even Russia, challenged the process of these elections.</b>
            <br>
            <b>The entire international community, Russia included, continued to work with post-2014 Ukrainian governments as legitimate ones</b><br>
            <br>
        </p>
    </details>

    <details>
        <summary>
            <span class="icon">👉</span>
            <font class="mark1">After the "coup" of 2014, ukrainian government was oppressing Russian speakers, especially in Donbas?</font>          
        </summary>
        <p>
            My family and I were predinantly russian speaking, and we never experienced any oppression. We have Russian relatives, and I had professional ties. Even despite the 2014 events.
            There were some changes since 2014, but not substantial. In Donbas, Russia supported the minority separatist rebellion, stirred up on false information about Ukraine outlawing russian language.<br>
            <br>
            <b>In 2014 - 2022, even Kyiv - the "sit of the ukrainian nationalist government" remained mostly russian-speaking.</b><br>
            <b>Anti-russian sentiment became mainstream in Ukraine since 2022 - and nobody did more for this than Russia itself.</b><br>
        </p>
    </details>

    <details>
        <summary>
            <span class="icon">👉</span>
            <font class="mark1">But Ukraine glorifies nazies and nazi collaborators?</font>          
        </summary>
        <p>
            Some people who fought for ukrainian nation in WWII decided to side with Nazi Germany against Russia. We do not glorify them for their nazi position, even if it's only purpose was to oppose the Russian domination.
            We recognize and highlight their struggle for the independence of Ukraine.<br>
            <b>It is possible to recognize that a historical figure was right in some of the aspects of their position, and wrong in the other.</b><br>
            <br>

            There might very well be some people in Ukraine at this time who have views, for example on race, with which I strongly disagree. 
            It's clear, from the repeated election results these people are in an extreme minority. Some of them might be even in the army.<br>
            <b>I can disagree with people on some questions, and agree on a very strong common principle - russian invasion of Ukraine must be stopped.</b><br><br>
            Controversially, the the claims of genocide of russian-speaking minority in Donbas would be true - i.e. if what russia said was true - I could understand a need for external action.<br>
            <b>But, as formely predominatly russian-speaking person, with family ties in the east of Ukraine and in Russia, I know these claims to be false.</b><br>
            <b>The invastion of 2022 with its justificiation was just as absurd as it was shocking. In retrospect, Russia just decided to advance its economic goals by military means, we just did not realize how little they care for basic standards of international cooperation and for the thruth.</b>
            
        </p>
    </details>

    <details>
        <summary>
            <span class="icon">👉</span>
            <font class="mark1">But individuals should not be judged for the actions of their state?</font>          
        </summary>
        <p>
          Organization of the state is a collective action, and it is a collective responsibility. I do not think 
        </p>
    </details>

    <details>
        <summary>
            <span class="icon">👉</span>
            <font class="mark1">Peace above all, at any cost?</font>          
        </summary>
        <p>
            Some argue that peace should be achieved at any cost, even by surrendering teritories.
            In fact, I agree that a lasting peace is actual goal. 
            <br>
            <b>The problem is that giving in to russian demands will not achieve a lasting peace. Everybody wants peace, but peace right now will mean a lot more violence soon after. Upholding rules-based international order is the best to achieve lasting peace.</b>
            <br>
            Proposing that Russia will not be stop after keeping "just" the annexed teritories is an empirical conjecture. 
            <br>
            <b>Consider that after 2014 Crimea was left to Russia in any meaningful sense, and Russia still invaded the rest of the Ukraine in 2022.</b>
        </p>
    </details>


    <details>
        <summary>
            <span class="icon">👉</span>
            <font class="mark1">But NATO has invaded Iraq?</font>          
        </summary>
        <p>
            The US should take responsibility for their actions in Iraq and similar. Arguably, there was a broad consensus that the invasion is justified.
            I'd hope the community will learn to deal with these situations in a more structured and organized way, with responsibility attached.<br><br>

            <b>Bad actions in the past do not justify new, even worse, actions. The standard should be maintained and raised, not lowered.</b>
        </p>
    </details>

    <details>
        <summary>
            <span class="icon">👉</span>
            <font class="mark1">Ukraine is just becoming vassal of the US, deeper in debt, deeper dependent</font>          
        </summary>
        <p>
            It is true that as Ukraine is getting more support from the US and the rest, this contribution might be considered as a leverage in the future. Potential future excessive dependency concerns me somewhat. But <b>I am also quite confident that if this will occur, the Ukrainian society will be able to resist this just as they resisted the Russian aggression.</b>
        </p>
    </details>

    <details>
        <summary>
            <span class="icon">👉</span>
            <font class="mark1">Do I feel particular animosity towards Russians?</font>            
        </summary>
        <p>
            To be fair, my taste for current Russian culture has diminished somewhat. Largely because of lingering suspicion that particular aspects of it are used to justify, glorify the war. Similarly, for a particular Russian person I do not know what their position is, and I have hard time accepting that they have no position at all.
            But, crucially, I know many Russians who's first words to me are when we meet are, even 3 years after the full-scale war, express concern for the situation, and some form of shame for the way the Russian state is at the moment.
            <b>I respect this kind of Russians people very much. In fact, it takes a special kind of courage to express such views against their own state. At least for me, my position is exceedingly obvious. They, on the other hand, have to have a strong alternative vision of Russia which is currently, unfortunately, rather distant.</b>
            <br>
            <br>
            When I grew up, one of the first music records I heard came from my father, from rock band lead by Yuri Schevchuk. One notable song was "Do not shot", reflecting on the horrors of the war in Afghanistan. The band remained extremely popular and very prolific, and the after the full-scale war, released a set of records not just condemning the war, but expressing complex an difficult position of the Russian culture driven by current state. This is the kind of Russian culture which I can respect and appreciate. My father, who was half-russian, who grew up in russian-dominated USSR, who later become very strong supporter of own ukrainian identity, passed away during the war, in some relation to the events of the war.
        </p>
    </details>    

    <details>
        <summary>
            <span class="icon">👉</span>
            <font class="mark1">If I am so strongly supporting Ukraine, why am I not fighting on the front lines myself?</font>            
        </summary>
        <p>
            This is a question I, as well as many people I know, are asking themselves. I think the kind of contribution I am making through supporting Ukraine in other ways (which I would not be able to do from the front lines) is still useful, but is it useful enough?..
            <br>
            <br>
            An important point for me is that my center of life for almost two decades has been outside Ukraine. I left as a young student and now have plenty of grey hair, all my adult life was outside Ukraine, I missed many important events of the country evolution, I got married outside, built career and somewhat integrated. If I go to Ukraine, I will not be able to come back for indefinite time to the only place I can realistically call home at this time. It's different for the people who are already in Ukraine. Not easier, but different.
        </p>
    </details>
        
</p>
</details>
<!-- 
<h3>On role Ukrainian diaspora and my personal role</h3>
<details>
    <summary>
        <span class="icon">👉</span>
        <font class="mark1"></font>
    </summary>
    <p>
        The US should take responsibility for their actions in Iraq and similar. Arguably, there was a broad consensus that the invasion is justified.
        I'd hope the community will learn to deal with these situations in a more structured and organized way, with responsibility attached.<br><br>

        <b>Bad actions in the past do not justify new, even worse, actions. The standard should be maintained and raised, not lowered.</b>
    </p>
</details> -->

<!-- 

    right to self-defence, abortion, possibility of autonomy as a principle

    justice after connected patient

    right to defend and right to kill

    action vs inaction

    no basic state of independence

    meritocracy perfect and not
    
    Authoritharian state contrates large amount of power in the top

    Control Consider

    "Liberal" world order is misrepresented as

    Control problem in ML

    Rights of the machine

 -->

    {% endblock content %}

